apiVersion: apps/v1
kind: Deployment
metadata:
  name: deploy-gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
      - name: gateway
        image: t92021630040acr.azurecr.io/t9_2021630040_gateway:v1
        ports:
        - containerPort: 443
        env:
        - name: keystore
          value: "keystore_servidor.jks"
        - name: password
          value: "1234567"
---
apiVersion: v1
kind: Service
metadata:
  name: servicio-gateway
spec:
  type: LoadBalancer
  selector:
    app: gateway
  ports:
  - port: 443
    targetPort: 443